<div>  
    <h3>{{title}}</h3>  
    Enter you Name:  <input [(ngModel)]="myName"  />  
    <br/> 
    <span> WelCome {{myName}}</span> 
    <br>
    <h3>Two way binding (without ngModel directive) / Template Reference Variables Example</h3>  
    Enter you Name: <input  #testName  type = "text"  (keyup)="0" />  
    <br/>
    <span> WelCome {{testName.value}} </span>  
</div>  