<h3 [textContent]="'Movie Name: ' + movie.name"></h3>

<p><img [src]="movie.photo" [alt]="movie.name" [title]="movie.name" width="300"></p>

<p [hidden]="!movie.rating">
    Rating: <span [innerHTML]="'&#10032;'.repeat(movie.rating)"></span>
</p>